.dinamarca_vermelho {
  width: 300px;
  height: 180px;
  background-color: rgb(255, 0, 0);
  position: relative;
}

.dinamarca_cruz_horizontal {
  width: 300px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: calc(50% - 15px);
}

.dinamarca_cruz_vertical {
  width: 30px;
  height: 180px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: calc(35% - 15px);
}
