.djibouti_verde {
  width: 300px;
  height: 180px;
  background-color: rgb(25, 161, 43);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.djibouti_azul {
  width: 300px;
  height: 90px;
  background-color: rgb(63, 162, 243);
}

.djibouti_losango_vermelho {
  width: 600px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: calc(50% - 150px);
  left: -420px;
  overflow: visible;
}

.djibouti_estrela_branco {
  width: 60px;
  height: 60px;
  background-color: rgb(199, 7, 23);
  border-radius: 100%;
  position: absolute;
  right: 90px;
  top: calc(50% - 30px);
}
