.inglaterra_branco {
  width: 300px;
  height: 180px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.inglaterra_cruz_horizontal {
  width: 300px;
  height: 40px;
  background-color: rgb(255, 0, 0);
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 150px);
}

.inglaterra_cruz_vertical {
  width: 40px;
  height: 180px;
  background-color: rgb(255, 0, 0);
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 20px);
}
