.suica_vermelho {
  width: 300px;
  height: 180px;
  background-color: rgb(255, 0, 0);
  position: relative;
}

.suica_cruz_horizontal {
  width: 120px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 60px);
}

.suica_cruz_vertical {
  width: 40px;
  height: 120px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 20px);
}
